__pychache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.bak
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.coveragerc
.coverage
.coverage.*
.ipynb_checkpoints/
